html, body {
  height: 100%;
  margin: 0;
}

#video-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
}

#capture-button {
  position: absolute;
  bottom: 10px;
  width: 150px;
  height: 40px;
  font-size: 1.3em;
}

canvas {
  display: none;
}
